* {
    box-sizing: border-box;
}

div {
    background-color: whitesmoke;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif
}

header {
    background-color: rgb(74, 141, 158);
    color: rgb(250, 247, 247);
    text-align: center;
    padding: 50px 100px 50px 100px;
}

nav {
    background-color: rgb(70, 69, 69);
    overflow: hidden;

}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}


main {
    background-color: white;
    text-align: center;
    padding-top: 20px;
    font-size: larger;
}

img {
    clip-path: circle(48.1% at 48.1% 48.1%);
}

footer {
    background-color: rgb(70, 69, 69);
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}